* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #010758, #490d61);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  padding: 0 20px;
}

.hero h1 {
  font-size: 7vh; 
  font-weight: 500;
  margin-top: 20px; 
  margin-bottom: 30px; 
}

.hero h1 span {
  color: #ff2963;
}

textarea {
  width: 100%; 
  max-width: 600px; 
  height: 200px; 
  background: #403d84;
  color: #fff;
  font-size: 16px;
  border: 0;
  outline: 0;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

textarea::placeholder {
  font-size: 16px;
  color: #ddd;
}

.row {
  width: 100%; 
  max-width: 600px; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 20px;
}

button {
  background-color: #ff2963;
  color: white;
  font-size: 16px;
  padding: 10px 20px; 
  border-radius: 35px;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.bxs-right-arrow {
  font-size: 16px; 
  margin-right: 10px;
}

select {
  width: 100%; 
  max-width: 600px; 
  color: #fff;
  background: #403d84;
  height: 50px;
  padding: 0 20px;
  border: 0;
  outline: 0;
  border-radius: 35px;
  appearance: none;
  background-image: url(image/arrow.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-x: calc(100% - 15px);
  background-position-y: 10px;
}
